[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-magic-bin = "==0.4.14"

[packages]
pyqt5 = "*"
pyyaml = "*"
python-magic = "*"
python-vlc = "*"
zmq = "*"

[requires]
python_version = "3.8"
