[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyqt5 = "*"
pyyaml = "*"
python-magic = "*"
python-vlc = "*"

[requires]
python_version = "3.8"

[dev-packages]
pylint = "*"
