[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
python-magic = "*"
python-vlc = "*"
sysv-ipc = "*"
pyserial = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
opencv-contrib-python = "*"
mediapipe = "*"

[requires]
python_version = "3.7"
